.documentation img {
  margin: 20px 0;
}

.blog-previews {
  width: 100%;
  margin: auto;
}

.doc-row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}

.document-column {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

.doc-button-center {
	text-align: center;
}

.doc-button {
	display: inline-block;
	padding: 20px;
}

/* cafe review */

.review img {
	padding-bottom: 20px;
	}

.score p {
	color:#17ab5b;
	padding-bottom: 15px;
}

.cafeButton {
	padding-bottom: 25px;
	padding-top: 25px;
	background-color:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:0px;
	border:1px solid #2bb359;
	display:inline-block;
	cursor:pointer;
	color:#5D5D5D;
	font-family: Lato,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size:12px;
	text-decoration:none;
	transition:background-color 0.25s;
	width: 180px;
	font-size: 1.25rem;
	vertical-align: middle;
}

.cafeButton:hover {
	background-color:#e6e6e6;
}

.cafeButton:active {
	position:relative;
	top:1px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .cafe-header-img {
    background-image: url(/images/pages/working-in-cafes-london.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 672px;
    padding-bottom: 2rem;
    height: 400px;
    margin-top: -40px;
  }

}

@media only screen and (min-width: 1024px) {

  .cafe-header-img {
    background-image: url(/images/pages/working-in-cafes-london.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 672px;
    padding-bottom: 2rem;
    height: 400px;
    margin-top: -40px;
  }
}
