.sidebar {
  padding: 10px;
  float: right;
  width: 25%;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.col-md-8 {
  float: left;
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
}

.doc-button-double {
  width: 31%;
  margin: auto;
}

.doc-button {
  width: 20%;
  margin: auto;
}

.blog-previews {
  width: 100%;
  margin: auto;
}

.doc-row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}

.col-xs-6 {
  float: left;
  position: relative;
  width: 50%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.col-md-4 {
  float: left;
  position: relative;
  width: 33.33333333%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.document-column {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}
