@media only screen and (min-width: 1024px) {

  body {
    /* background-color: grey!important; */
  }

  /* Home */
  .home-header {
    padding: 80px 0 40px 0;
  }

  .home-header-img {
    background-image: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/cucumber-tony-wifi-platform-cafe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 672px;
    padding-bottom: 2rem;
    height: 400px;
    margin-top: -40px;
  }

  .home-header h1 {
    margin-bottom: 20px;
  }

  .home-header h2 {
    color: #626262;
  }

  .home-header h3 {
    color: #e4e4e4;
    font-size: 1.8rem;
  }

  .home-header, .text-muted {
    color: #c3c0c0;
  }

  .ct-is-container {
    margin-bottom: 126px;
  }

  home input, tour input, plans input, partners input {
    padding: 30px 0 30px 20px!important;
    font-size: 1.2rem!important;
  }

  label {
    margin-left: 160px;
  }

  .customers img {


  }

  .home-firmware {
    padding: 109px 0 0 0;
    margin-bottom: -20px;
  }

  .home-firmware h1 {
    font-size: 44px;
    margin-bottom: 33px;
  }

  .home-tour h1 {
    font-size: 40px;
    text-align: right;
    margin: 60px 0;
  }

  .home-tour h4 {
    font-size: 26px;
    margin-top: 14px;
    line-height: 40px;
  }

  .home-tour {
    padding: 30px 0;
    margin: 40px 0;
  }

  .home-points {
    padding: 60px 0 40px 0;
  }

  .home-testimonials {
    padding: 40px 0 40px 0;
    min-height: 499px;
  }

  .benitos-hat {
    background-size: 900px 687px;
    background-repeat: no-repeat;
    width: 555px;
    margin-top: -40px;
    margin-bottom: -40px;
    height: 659px;
    /* background-image: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/home-CT-in-ipad.png'); */
    background: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/ct-benitos-hat-wifi.jpg') no-repeat;

    /* position:absolute; */
    /* height: 560px; */
    /* right: -679px; */
    /* left: 0px; */
    /* /1* width: 100%; *1/ */
    /* background: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/ct-benitos-hat-wifi.jpg') no-repeat; */
    /* margin-top: -80px; */
    /* overflow: hidden; */
  }

  .home-integrations {
    min-height: 400px;;
    padding: 120px 0 40px 0;
  }

  .home-integrations img {
    margin-top: 18px;
  }

  .home-integrations h1 {
    font-size: 34px;
  }

  /* home span.safestore { */
  /*   margin: 10px 25px 0 0; */
  /* } */

  /* home span.derby { */
  /*   margin: 10px 25px 0 0; */
  /* } */

  /* home span.benitos { */
  /*   margin: 10px 25px 0 0; */
  /* } */

  /* home span.nhs { */
  /*   margin: 10px 25px 0 0; */
  /* } */

  .home-try {
    padding: 40px 0;
    margin-bottom: 40px;
  }

  .prefix, .postfix {
    font-size: 1.2rem;
    height: 3.8525rem;
  }

  .api {
    background-color: #2a2f3d;
    padding: 60px 0;
  }

  .api h2 {
    color: #FFF;
    opacity: 0.6;
  }

  .api p {
    color: #FFF;
    opacity: 0.4;
  }

  .api-image img {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 40em) {

  body {
    /* background-color: grey!important; */
  }

  .home-header {
    padding: 20px 0 0 0;
  }

  .home-try {
    padding: 20px 0 0 0;
    margin-bottom: 20px;
  }

  .home-firmware h1 {
    padding: 19px 0 0 0;
    margin-bottom: -20px;
  }

  .home-firmware h1 {
    margin-bottom: 40px;
    font-size: 28px;
  }

  .home-testimonials {
    padding: 40px 0 40px 0;
    min-height: 450px;
  }

  .home-tour {
    padding: 30px 0 30px 0;
    margin: -20px 0 20px 0;
  }

  .home-tour h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .home-tour h1 a {
    color: white;
  }

  .home-tour h1 a:hover {
    border-bottom: 1px dashed white;
  }

  .home-tour h4 {
    font-size: 18px;
    margin-top: 14px;
    line-height: 40px;
  }

  .ct-is-container {
    margin-bottom: 30px;
  }

  .home-header h3 {
    font-size: 20px;
  }

  .home-points {
    padding: 10px 0 0 0;
  }

  .home-try h1 {
    margin-top: 30px;
    font-size: 24px;
  }

  .home-integrations {
    padding: 40px 0 40px 0;
    margin-bottom: -20px;
    background-color: #017fdd;
    color: white;
  }

  .home-integrations h1 {
    font-size: 32px;
    color: white;
  }

  .api {
    background-color: #2a2f3d;
    padding: 60px 0;
  }

  .api h2 {
    color: #FFF;
    opacity: 0.6;
  }

  .api p {
    color: #FFF;
    opacity: 0.4;
  }

}

@media only screen and (min-width: 40.063em) {

  /* body { */
  /*   background-color: blue!important; */
  /* } */

  .home-ct-ipad {
    background-size: 900px 687px;
    background-repeat: no-repeat;
    width: 555px;
    height: 659px;
    background-image: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/home-CT-in-ipad.png');
  }

  .home-firmware p {
    color: #17ab5b;
    font-size: 22px;
  }

  .api {
    background-color: #2a2f3d;
    padding: 60px 0;
  }

  .api h2 {
    color: #FFF;
    opacity: 0.6;
  }

  .api p {
    color: #FFF;
    opacity: 0.4;
  }

  .api-image img {
    margin-left: 80px;
  }

  label {
    margin-left: 140px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  body {
    /* background-color: blue!important; */
  }

  .home-header {
    padding: 60px 0 30px 0;
  }

  .home-header h1 {
    margin: 0px 0 20px 0;
  }

  .home-header h2 {
    color: #626262;
    font-size: 28px;
    line-height: 52px;
  }

  .home-header h3 {
    color: #e4e4e4;
    font-size: 1.4rem;
  }

  .home-header, .text-muted {
    color: #c3c0c0;
  }

  .ct-is-container {
    margin-bottom: 134px;
  }

  .home-header-img {
    background-image: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/cucumber-tony-wifi-platform-cafe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 672px;
    padding-bottom: 2rem;
    height: 400px;
    margin-top: -40px;
  }

  .home-try {
    padding: 40px 0 0 0;
    margin-bottom: 40px;
  }

  .home-firmware {
    padding: 59px 0 0 0;
    margin-bottom: -20px;
  }

  .home-firmware h1 {
    font-size: 38px;
    margin-bottom: 33px;
  }

  .home-points {
    padding: 40px 0 20px 0;
  }

  .home-points h3 {
    color: #017fdd;
    font-size: 18px;
  }

  .home-tour {
    padding: 30px 0 30px 0;
    margin: 30px 0 20px 0;
  }

  .home-tour h1 {
    font-size: 30px;
    margin-top: 40px;
  }

  .home-tour h4 {
    font-size: 22px;
    margin-top: 14px;
    line-height: 40px;
  }

  .home-testimonials {
    padding: 40px 0 40px 0;
    min-height: 500px;
  }

  .benitos-hat {
    position: absolute;
    height: 541px;
    right: -679px;
    width: 1050px;
    background: url('https://d3e9l1phmgx8f2.cloudfront.net/images/www/ct-benitos-hat-wifi.jpg') no-repeat;
    margin-top: -60px;
  }

  .home-integrations {
    min-height: 270px;
    padding: 60px 0 0 0;
  }

  .home-integrations img {
    margin-top: 18px;
  }

  .home-integrations h1 {
    font-size: 34px;
  }

  .home-try {
    padding: 40px 0 0 0;
  }

}

.home-logos {
  background-color: #F3F3F3;
  margin-top: 21px;
  padding: 60px 0;
}

.home-tour {
  color: white;
}

.home-tour h1 a {
  color: white;
}

.home-tour h1 a:hover {
  border-bottom: 1px dashed white;
}

.home-tour h4 {
  color: white;
}

ul.title-area {
  list-style: none;
}

.ct-is-container {
  height: 250px;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* helpers */

/* Home Specific */

home h3 {
  margin-bottom: 30px;
}

.home-tour {
  background-color: #17ab5b;
}
