<footer class="mdl-mega-footer">

  <div class="mdl-grid">
    <div class="center-cell mdl-cell mdl-cell--10-col">

      <div class=" mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Product</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="/plans/">Plans</a></li>
            <li><a href="/discover/">Discover</a></li>
            <li><a href="/compatible-hardware/">Compatible Hardware</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Helpful</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="http://docs.polkaspots.apiary.io/" target="_blank">API</a></li>
            <li><a href="http://docs.cucumberwifi.io/" target="_blank">Docs</a></li>
            <li><a href="http://status.ctapp.io/" target="_blank">Status</a></li>
            <li><a href="https://discuss.cucumberwifi.io/" target="_blank">Discuss</a></li>
            <li><a href="/community/tutorials/">Tutorials</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Company</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="https://medium.com/guest-wifi" target="_blank">Blog</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/case-studies/">Case Studies</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Terms of Service</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">API</a></li>
            <li><a href="#">Cucumber Dashboard</a></li>
          </ul>
        </div>

      </div>

      <div class="mdl-mega-footer__middle-section footer-social">
        <a href="https://twitter.com/cucumbertony" target="_blank">
          <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/twitter.png"
        </a>
        <a href="https://www.linkedin.com/company/cucumber-tony" target="_blank">
          <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/linkedin.png"
        </a>
        <a href="https://www.facebook.com/cucumbertony/" target="_blank">
          <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/facebook.png"
        </a>
        <a href="https://www.youtube.com/channel/UCpPkREGXYrlontKXB3B3t9A" target="_blank">
          <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/youtube.png"
        </a>
      </div>

    </div>
  </div>

</footer>
