<!-- <a href="https://www.picatic.com/school-of-cucumber/" target="_blank">
  <div class="mdl-grid notification-banner">
    <div class="center-cell mdl-cell mdl-cell--middle mdl-cell--8-col">
      <h4 class="center-cell">Want to Learn More About WiFi?</h4>
      <p>Click Here to Sign-up for our Advanced Workshop for Network and WiFi Businesses</p>
    </div>
  </div>
</a> -->
<footer class="mdl-mega-footer">

  <div class="mdl-grid mdl-cell--hide-phone cucumber-footer">
    <div class="center-cell mdl-cell mdl-cell--10-col">
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
          <h4>Product</h4>
          <ul>
            <li><a href="/plans/">Plans</a></li>
            <li><a href="/discover/">Discover</a></li>
            <li><a href="/compatible-hardware/">Compatible Hardware</a></li>
          </ul>
        </div>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
          <h4>Helpful</h4>
          <ul>
            <li><a href="http://api-docs.cucumberwifi.io/" target="_blank">API</a></li>
            <li><a href="http://docs.cucumberwifi.io/" target="_blank">Docs</a></li>
            <li><a href="http://status.ctapp.io/" target="_blank">Status</a></li>
            <li><a href="https://discuss.cucumberwifi.io/" target="_blank">Discuss</a></li>
            <li><a href="/community/tutorials/">Tutorials</a></li>
          </ul>
        </div>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
          <h4>Company</h4>
          <ul>
            <li><a href="https://medium.com/guest-wifi" target="_blank">Blog</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/community/showcase/">Case Studies</a></li>
            <li><a href="/architecture/">Architecture</a></li>
            <li><a href="/philosophy/">Philosophy</a></li>
            <li><a href="/branding/">Branding</a></li>
          </ul>
        </div>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
          <h4>Terms of Service</h4>
          <ul>
            <li><a href="/terms/">Cucumber Dashboard</a></li>
          </ul>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet cucumber-footer-address">
          <h4>Behind the Bike Shed</h4>
          <p style="font-size:14px;">Cucumber Tony Limited<br>
            83 Rivington Street<br>
            London EC2A 3AY<br>
            Company Number: 09332205</br>
            VAT Number: 207491904</br>
          </p>
          <div class="social-button-row">
            <a href="https://twitter.com/cucumbertony" target="_blank" class="social-button">
              <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/twitter.png">
            </a>
            <a href="https://www.linkedin.com/company/cucumber-tony" target="_blank" class="social-button">
              <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/linkedin.png">
            </a>
            <a href="https://www.youtube.com/channel/UCpPkREGXYrlontKXB3B3t9A" target="_blank" class="social-button">
              <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/youtube.png">
            </a>
          </div>
          <a href="http://www.techstars.com/" target="_blank">
            <img style="height:auto;width:60%;"src="/images/pages/techstars/techstars-square.png">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid mdl-cell--hide-desktop mdl-cell--hide-tablet">
    <div class="center-cell mdl-cell mdl-cell--10-col">

      <div class=" mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Product</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="/plans/">Plans</a></li>
            <li><a href="/discover/">Discover</a></li>
            <li><a href="/compatible-hardware/">Compatible Hardware</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Helpful</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="http://api-docs.cucumberwifi.io/" target="_blank">API</a></li>
            <li><a href="http://docs.cucumberwifi.io/" target="_blank">Docs</a></li>
            <li><a href="http://status.ctapp.io/" target="_blank">Status</a></li>
            <li><a href="https://discuss.cucumberwifi.io/" target="_blank">Discuss</a></li>
            <li><a href="/community/tutorials/">Tutorials</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Company</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="https://medium.com/guest-wifi" target="_blank">Blog</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/community/showcase/">Case Studies</a></li>
            <li><a href="/architecture/">Architecture</a></li>
            <li><a href="/philosophy/">Philosophy</a></li>
            <li><a href="/branding/">Branding</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Terms of Service</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="/terms/">Cucumber Dashboard</a></li>
          </ul>
        </div>

      </div>

      <div class="mdl-grid" style="padding:0px;">
        <div class="mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--8-col-phone">
          <p style="font-size:14px;line-height:20px;">Cucumber Tony Limited<br>
            83 Rivington Street<br>
            London EC2A 3AY<br>
            Company Number: 09332205</br>
            VAT Number: 207491904</br>
          </p>
        </div>
        <div class="footer-social mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--8-col-phone">
          <span class="social-header">Follow Us</span>
          <div class="social-button-row">
            <form action="http://news.polkaspots.com/t/r/s/hhzdjj/" method="post" id="subForm">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
                <label for="fieldEmailFoot">
                  <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect newsletter-button" src="/images/pages/social/newsletter.png">
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="email" name="cm-hhzdjj-hhzdjj" id="fieldEmailFoot">
                  <label class="mdl-textfield__label" for="fieldEmailFoot">Newsletter Signup</label>
                </div>
              </div>
              <a href="https://twitter.com/cucumbertony" target="_blank" class="social-button">
                <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/twitter.png">
              </a>
              <a href="https://www.linkedin.com/company/cucumber-tony" target="_blank" class="social-button">
                <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/linkedin.png">
              </a>
              <a href="https://www.youtube.com/channel/UCpPkREGXYrlontKXB3B3t9A" target="_blank" class="social-button">
                <img class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" src="/images/pages/social/youtube.png">
              </a>
            </form>
          </div>
        </div>
        <a href="http://www.techstars.com/" target="_blank">
          <img style="height:auto;width:60%;"src="/images/pages/techstars/techstars-square.png">
        </a>
      </div>
    </div>
  </div>
</footer>
