<!-- <footer>
  <div class="row expanded align-center">
    <div class="small-12 medium-2 columns text-center">
      <a href="#">Status</a>
    </div>
    <div class="small-12 medium-2 columns text-center">
      <a href="#">Terms of Service</a>
    </div>
    <div class="small-12 medium-2 columns text-center">
      <p>© 2017 CT</p>
    </div>
  </div>
</footer> -->

<footer>
  <div class="row banner align-center">
    <div class="large-12 columns">

      <div class="row align-center hide-for-small-only">
        <div class="large-3 medium-3 small-12 columns text-center medium-text-left">
        </div>
        <div class="large-3 medium-3 small-12 columns text-center medium-text-left">
          <!-- <h4>Company</h4>
          <ul>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/casestudies/">Case Studies</a></li>
            <li><a href="/videos/">Videos</a></li>
          </ul> -->
        </div>
        <div class="large-3 medium-3 small-12 columns text-center medium-text-left">
        </div>
        <div class="large-3 medium-3 small-12 columns cucumber-footer-address">
          <!-- <h4>Behind the Bike Shed</h4>
          <p style="font-size:14px;">CT Networks<br>
          4-5 Bonhill St<br>
          Shoreditch<br>
          London EC2A 4BX<br>
          Company Number: 09332205</br>
          VAT Number: 207491904</br>
          </p> -->
        </div>
      </div>
      <div class="row align-center hide-for-small-only">
        <div class="large-3 medium-3 small-6 columns align-self-middle">
          <p style="margin:0px;font-size:15px;">© 2018 Cucumber Tony<br>Trading as CT Networks</p>
        </div>
        <div class="large-2 medium-2 small-6 columns align-self-middle">
          <p style="margin:0px;"><a href="/terms/">Terms</a></li></p>
        </div>
        <div class="large-2 medium-2 small-6 columns align-self-middle">
          <p style="margin:0px;"><a href="/about/">About</a></li></p>
        </div>
        <div class="large-3 medium-3 small-6 columns align-self-middle">
          <div class="social-button-row">
            <a href="https://twitter.com/cucumbertony" target="_blank" class="social-button">
              <img src="/images/pages/social/twitter.png">
            </a>
            <a href="https://www.linkedin.com/company/cucumber-tony" target="_blank" class="social-button">
              <img src="/images/pages/social/linkedin.png">
            </a>
            <a href="https://www.youtube.com/channel/UCpPkREGXYrlontKXB3B3t9A" target="_blank" class="social-button">
              <img src="/images/pages/social/youtube.png">
            </a>
          </div>
        </div>
        <div class="large-2 medium-2 small-6 columns align-self-middle">
          <a href="http://www.techstars.com/" target="_blank">
            <img style="height:auto;width:60%;float:right;" src="/images/pages/techstars/techstars-square.png">
          </a>
        </div>
      </div>

      <div class="row align-center show-for-small-only">
        <div class="small-3 columns center-cell text-center">
          <p style="margin:0px;"><a href="/terms/">Terms</a><p>
        </div>
        <div class="small-6 columns center-cell text-center">
          <!-- <p style="font-size:14px;">CT Networks<br>
          4-5 Bonhill St<br>
          Shoreditch<br>
          London EC2A 4BX<br>
          Company Number: 09332205</br>
          VAT Number: 207491904</br>
          </p> -->
          <p style="margin:0px;font-size:15px;">© 2018 Cucumber Tony<br>Trading as CT Networks</p>
        </div>
        <div class="small-3 columns center-cell text-center">
          <p style="margin:0px;"><a href="/about/">About</a><p>
        </div>
        <div class="small-12 columns">
          <!-- <ul class="accordion center-cell" data-accordion>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Product</a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="/sign-up" class="s-u-i">Sign Up</a></li>
                  <li><a href="https://my.ctapp.io/#/login">Log In</a></li>
                  <li><a href="/plans">Plans</a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Company</a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="https://medium.com/guest-wifi" target="_blank">Blog</a></li>
                  <li><a href="/about/">About Us</a></li>
                  <li><a href="/contact/">Contact Us</a></li>
                  <li><a href="/casestudies/">Case Studies</a></li>
                  <li><a href="/videos/">Videos</a></li>
                </ul>
              </div>
            </li>
          </ul> -->

          <div class="small-12 columns align-self-middle text-center">
            <div class="social-button-row center-cell">
              <a href="https://twitter.com/cucumbertony" target="_blank" class="social-button">
                <img src="/images/pages/social/twitter.png" alt="ct networks twitter button">
              </a>
              <a href="https://www.linkedin.com/company/10045423/" target="_blank" class="social-button">
                <img src="/images/pages/social/linkedin.png" alt="ct networks linkedin button">
              </a>
              <a href="https://www.youtube.com/channel/UCpPkREGXYrlontKXB3B3t9A" target="_blank" class="social-button">
                <img src="/images/pages/social/youtube.png" alt="ct networks youtube button">
              </a>
              <a href="http://www.techstars.com/" target="_blank">
                <img style="max-height:50px;width:auto;" src="/images/pages/techstars/techstars-square.png" alt="ct networks techstars 2017">
              </a>
            </div>
          </div>
          <div class="small-12 columns align-self-middle">
          </div>

        </div>
      </div>

    </div>
  </div>
</footer>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
   window.addEventListener("load", function(){
     window.cookieconsent.initialise({
       "palette": {
         "popup": {
           "background": "#000"
         },
         "button": {
           "background": "#f1d600"
         }
       },
       "content": {
         "dismiss": "I'm happy",
         "message": "We use cookies on this site. Please confirm you're happy or find out how to manage your cookies.",
         "href": "https://ct-networks.io/terms/cookies"
       }
     })});
</script>
