<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="top-bar show-for-medium-up" id="top-nav">
      <section class="left-small show-for-small-only">
        <a href="#" class="left-off-canvas-toggle" >
          <span>
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </span>
        </a>
      </section>

      <ul class="title-area">
        <a href="/">
          <li class="ct-logo">
            <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/logos/cucumber-wifi.svg"></img>
          </li>
        </a>
      </ul>

      <section class="top-bar-section show-for-medium-up">
        <ul class="right">
          <li ng-class="isActive('tour')"><a href="/tour/cloud-wifi-management.html">TOUR</a></li>
          <li ng-class="isActive('plans')"><a href="/plans/">PLANS</a></li>
          <li ng-class="isActive(plans)"><a href="https://my.ctapp.io/#/create" class="dst">SIGN-UP</a></li>
          <li ng-class="isActive(plans)"><a href="https://my.ctapp.io/#/login" class="dst">LOGIN</a></li>
        </ul>
      </section>
    </nav>
    <nav class="tab-bar show-for-small-only" id="top-nav">
      <section class="left-small show-for-small-only">
        <a class="left-off-canvas-toggle" >
          <span>
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </span>
        </a>
      </section>

      <span class="main-nav">
        <ul class="title-area">
          <a href="/#/">
            <li class="ct-logo">
              <img src="https://d3e9l1phmgx8f2.cloudfront.net/images/logos/cucumber-tony.svg"></img>
            </li>
          </a>
        </ul>
      </span>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Tony Time</label></li>
        <li><a href="#">Home</a></li>
        <li><a href="/#/tour/cloud-wifi-management">Tour</a></li>
        <li><a href="/#/plans">Plans</a></li>
        <li><a href="/#/join">Join</a></li>
        <li><a href="/#/login">Login</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- <div ng-view autoscroll="true"></div> -->
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
