
  <div class="row">
    <div class="small-12 columns">
      <h1 class="text-success"><b>All the features</b></h1>
      <table class="table table-bordered">
        <tr>
          <td class="features-table-heading mdl-data-table__cell--non-numeric"></td>
          <td class="features-table-heading mdl-data-table__cell--non-numeric"><b>Home Plan</b></td>
          <td class="features-table-heading mdl-data-table__cell--non-numeric"><b>Business Plan</b></td>
          <td class="features-table-heading mdl-data-table__cell--non-numeric"><b>Premium Plan</b></td>
          <td class="features-table-heading mdl-data-table__cell--non-numeric"><b>Enterprise Plan</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Management
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Networks & Security
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Support
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Reports
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Integrations
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Guest Access
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Payment Gateways
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            White Label
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Business Directory
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Management</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Admins
          </td>
          <td>0</td>
          <td>1</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Remote Health Checks
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Automated Firmware Upgrades
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Locations
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Zones
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Logs
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Alerts
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            History
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Events
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Triggers
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Custom Scripts
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            SSH Access
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Self Hosted Syslog
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>Networks & Security</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Multiple Guest & Private Networks
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Time of Day SSIDs
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Content Filtering
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Integrate Advanced Content Filtering
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Firewall Settings
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Port Forwarding
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Proxy Settings
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            User & Device Blocking
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>Support</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Documentation
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Forums
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Priority QoS
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Chat Support
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Phone Support
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Dedicated Support
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>White Label</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            White Label Dashboard
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            CName
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Custom Dashboard URL
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            White Label Emails
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>Reports</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Weekly Report Summary
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Fine Granularity Reports
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            CSV Download
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Google Analytics Integration
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>User Analytics</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Live Clients
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Splash Page Views
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Usage Reports
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Top Access Points
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Top Locations
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Top Users
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Social Media Profiling
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Returning Users vs Unique Users
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Average Connection Time
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>Integrations</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            API
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            MailChimp
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Campaign Monitor
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            SendGrid
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Twilio
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Slack
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            IFTTT
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Zapier
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>Guest Access</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Fully Customisable Splash Page
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Tiered Login
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Clickthrough Login
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Password Login
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Social Login
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Vouchers/Coupon Codes
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Quick Codes
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Custom Registration Access
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            External RADIUS
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            External Splash Page
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            3rd Party Integration Support
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Time of Day Splash Pages
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Timed Usage Restrictions
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Data Usage Restrictions
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Master Splash Page
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Paid Access
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

        <tr>
          <td colspan="5" class="plans-header"><b>Payment Gateways</b></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            PayPal
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            Stripe
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            SagePal
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>

      </table>



    </div>
