
  <div class="row">
    <div class="small-12 columns">
      <h1 class="text-success"><b>All the features</b></h1>
      <table class='table table-bordered'>
        <tr>
          <th></th>
          <th>Free Tony</th>
          <th>Business</th>
          <th>Enterprise</th>
          <th>Black Tie</th>
        </tr>
        <tr>
          <td>
            Monthly Splash Impressions
          </td>
          <td>2,500</td>
          <td>50,000</td>
          <td>500,000</td>
          <td>500,000+</td>
        </tr>
        <tr>
          <td>
            Admin users
          </td>
          <td>1</td>
          <td>5</td>
          <td>50</td>
          <td>50+</td>
        </tr>
        <tr>
          <td>
            Online Support
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Priority QoS
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Custom domain
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Download CSV reports
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Quick Codes
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Branded emails
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Custom report emails
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Telephone Support
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Customisation</b></td>
        </tr>
        <tr>
          <td>
            Fully custom captive portal
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <!-- <tr> -->
        <!--   <td> -->
        <!--     Custom URLs -->
        <!--   </td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!-- </tr> -->
        <!-- <tr> -->
        <!--   <td> -->
        <!--     Welcome page -->
        <!--   </td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!-- </tr> -->
        <tr>
          <td>
            Customisable registration forms
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            White-label management dashboard
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Custom dashboard URL
          </td>
          <td></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Access Methods</b></td>
        </tr>
        <tr>
          <td>
            Social logins
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Password login
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Paid access
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Vouchers / coupon codes
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Registration portal
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <!-- <tr> -->
        <!--   <td> -->
        <!--     Speed limit per user -->
        <!--   </td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!-- </tr> -->
        <!-- <tr> -->
        <!--   <td> -->
        <!--     Download limit per user -->
        <!--   </td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!-- </tr> -->
        <!-- <tr> -->
        <!--   <td> -->
        <!--     Timed access -->
        <!--   </td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!-- </tr> -->
        <!-- <tr> -->
        <!--   <td> -->
        <!--     Email Capture -->
        <!--   </td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!--   <td><i class='fa fa-check-circle-o fa-lg'></i></td> -->
        <!-- </tr> -->
        <tr>
          <td>
            Click-through Login
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Quick Codes
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Payment Gateways</b></td>
        </tr>
        <tr>
          <td>
            PayPal
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Stripe
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            SagePay
          </td>
          <td></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
          <td colspan="5" class="plans-header"><b>Data Capture</b></td>
        </tr>
        <tr>
          <td>
            MailChimp
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Campaign Monitor
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            MailChimp Single-opt-in
          </td>
          <td></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Merge field synchronisation
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Downloadable reports
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Unlimited data capture
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Captive Portal</b></td>
        </tr>
        <tr>
          <td>
            Paid Wi-Fi commission
          </td>
          <td>0%</i></td>
          <td>0%</i></td>
          <td>0%</i></td>
          <td>0%</i></td>
        </tr>
        <tr>
          <td>
            Supports Meraki, Aruba, Xirrus, Mikrotik, Ruckus
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Multiple splash pages per location and zone
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Responsive & mobile friendly
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Time-of-day splash pages
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Timed access splash pages
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Data restricted splash pages
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Removable powered by badge
          </td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>Custom URL (coming soon)</td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Integrations</b></td>
        </tr>
        <tr>
          <td>
            Allowed integrations
          </td>
          <td>5</i></td>
          <td>50</i></td>
          <td>50</i></td>
          <td>50</i></td>
        </tr>
        <tr>
          <td>
            Basic Triggers
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Enhanced Triggers
          </td>
          <td></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Dashboard Features</b></td>
        </tr>
        <tr>
          <td>
            Cloud based
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Live usage reports
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Performance review
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Settings & location cloning
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Device rollback & versions
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Realtime alerts
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Remote health checks
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Automated firmware updates
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Network & Security</b></td>
        </tr>
        <tr>
          <td>
            SSID Count
          </td>
          <td><b>16</b></td>
          <td><b>16</b></td>
          <td><b>16</b></td>
          <td><b>16</b></td>
        </tr>
        <tr>
          <td>
            Multiple Guest & Private Networks
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Content filtering
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Firewall settings
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Port forwarding
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            SSH access
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Integrate advanced content filtering
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Proxy server
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            External radius
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            External splash
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            User & device blocking
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Security breach alerts
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Network Crash alerts
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Advanced Features</b></td>
        </tr>
        <tr>
          <td>
            VLans
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Live interface stats
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Network zones
          </td>
          <td>10</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>User Analytics</b></td>
        </tr>
        <tr>
          <td>
            Live stream of clients
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Splash page views
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Usage reports
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Top Access Points
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Top Locations
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Top Users
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Social Media profiling
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Returning users vs unique users
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Average connection time
          </td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td colspan="5" class="plans-header"><b>Advanced Analytics</b></td>
        </tr>
        <tr>
          <td>
            Footfall
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            User Journey Mapped
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Display plans-headering
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            User Heat Maps
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            Captured Traffic
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
        <tr>
          <td>
            BYO Data Import
          </td>
          <td></td>
          <td></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
          <td><i class='fa fa-check-circle-o fa-lg'></i></td>
        </tr>
      </table>
    </div>
