---
layout: default
title: Wi-Fi Management Software
description: OMG WiFi Hotspots
keywords: free wifi splash pages, free WiFi cloud management, free wifi software, meraki alternative
---

<plans>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="text-center small-12 medium-centered columns">
          <h1>The New Cucumber Plans</h1>
          <h3 style="color:#454545;">These plans will become available towards the end of May 2016</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="text-center small-12 medium-3 columns">
          <div class="plans-outer blue">
            <h1>Home Plan<h1>
            <h2>Free</h2>
            <p>per/month</p>
            <ul class="no-bullet">
              <li>2,500 Splash Views</li>
              <li>30 Days History</li>
              <li>API Access</li>
              <li>5 Zones</li>
            </ul>
            <a href="https://my.ctapp.io/#/create" class="button signup large dst">SIGN-UP</a>
          </div>
        </div>
        <div class="text-center small-12 medium-3 columns">
          <div class="plans-outer green">
            <h1>Business Plan<h1>
            <h2><span style="font-size:20px;">from</span>$60</h2>
            <p>per/month</p>
            <ul class="no-bullet">
              <li>Includes 10 APs</li>
              <li>$6 per AP/mo</li>
              <li>Basic Support</li>
              <li>Unlimited History</li>
              <li>Paid WiFi</li>
              <!-- <li>Top-ups</li> -->
              <li>Admin Users</li>
              <li>Unlimited Splash Views</li>
            </ul>
            <a href="https://my.ctapp.io/#/create" class="button signup large dst">SIGN-UP</a>
          </div>
        </div>
        <div class="text-center small-12 medium-3 columns">
          <div class="plans-outer blue">
            <h1>Premium Plan<h1>
            <h2><span style="font-size:20px;">from</span>$350</h2>
            <p>per/month</p>
            <ul class="no-bullet">
              <li>Includes 75 APs</li>
              <li>From $3.65 per AP/mo</li>
              <li>Standard Support</li>
              <li>Unlimited History</li>
              <li>White Label Features</li>
              <li>User Permissions</li>
              <!-- <li>Top-ups</li> -->
              <li>Unlimited Splash Views</li>
            </ul>
            <a href="https://my.ctapp.io/#/create" class="button signup large dst">SIGN-UP</a>
          </div>
        </div>
        <div class="text-center small-12 medium-3 columns">
          <div class="plans-outer blue">
            <h1>Enterprise Plan<h1>
            <h2>Contact</h2>
            <p>per/month</p>
            <ul class="no-bullet">
              <li>Unlimited APs</li>
              <li>From $2 per AP/mo</li>
              <li>Premium Support</li>
              <li>Unlimited History</li>
              <li>Brand Management</li>
              <li>User Permissions</li>
              <li>Unlimited Splash Views</li>
            </ul>
            <a href="https://my.ctapp.io/#/create" class="button signup large dst">SIGN-UP</a>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>


  <hr>
  <!-- <div class="row"> -->
  <!--   <div class="small-12 columns"> -->
  <!--     <hr> -->
  <!--     <h1>Join some of the amazing people already creating WiFi networks</h1> -->
  <!--     <br> -->
  <!--     <hr> -->
  <!--   </div> -->
  <!-- </div> -->
  <div class="row">
    <div class="small-12 columns">
      <h1 class="text-success"><b>Common Questions</b></h1>
      <div class="row plans-faq">
        <div class="small-12 medium-6 columns">
          <h3>Are there any limits on the free plan?</h3>
          <p>The free plan comes with a splash page view limit, and is missing advanced features.</p>
        </div>
        <div class="small-12 medium-6 columns">
          <h3>What's the difference between the plans?</h3>
          <p>Features and AP cost. The main differences between the paid plans is the ability to completely brand and whitelable your management.</p>
        </div>
      </div>
      <div class="row plans-faq">
        <div class="small-12 medium-6 columns">
          <h3>What is a splash page view?</h3>
          <p>Every time a guest user tries to connect to a Captive Portal network they will see a splash page. We count how many hits there are to your splash page per month.</p>
        </div>
        <div class="small-12 medium-6 columns">
          <h3>What's QoS</h3>
          <p>QoS prioritises the jobs that are sent to your boxes. A job might be when you change your SSID or reboot your boxes.</p>
          <p>If load is high, we'll processes priority jobs faster.</p>
        </div>
      </div>
      <div class="row plans-faq">
        <div class="small-12 medium-6 columns">
          <h3>What are Integrations</h3>
          <p>Connect your other WebApps with Cucumber. Eg. automatically sync your guests with your Salesforce account or send an alert to your Slack account if a box goes offline.</p>
        </div>
        <div class="small-12 medium-6 columns">
          <h3>What are Zones</h3>
          <p>Zones allow you break up your networks into logical groups within their location. Each zone can contain any number of boxes and SSIDs.</p>
        </div>
      </div>
    </div>
  </div>

  {% include plans.html %}
  {% include registration.html %}


</plans>
