---
layout: fixed-header
title: Tutorials | Cucumber Tony
permalink: /community/tutorials/
redirect_from:
- /community/
- /community/showcase/
---
<div class="page-content">

  <div class="tutorial-main mdl-grid">
    <div class="center-cell mdl-cell mdl-cell--middle mdl-cell--10-col mdl-typography--text-center">
      <h2>WiFi Community Tutorials</h2>
      <h5>Explore the tutorials and find all the resources you need to set up an amazing WiFi network.</h5>
    </div>
  </div>

  <!-- <div class="row">
    <div class="small-12 columns">
      {% for post in site.categories.tutorials limit:3 %}
      <div class="small-12 medium-4 columns">
        {% if post.thumbnail %}
        <a href="{{ BASE_PATH }}{{ post.url }}">
          <img src="{{ post.thumbnail }}" style= align="center" />
        </a>
        {% else %}
        <img src="/images/community/thumbnails/rf-power.png" align="center" />
        {% endif %}
        <a href="{{ BASE_PATH }}{{ post.url }}"><h3 style=color:#868686;>{{ post.title }}</h3></a>
      </div>
      {% endfor %}
      <hr>
    </div>
  </div> -->

  <div class="tutorial-list mdl-grid mdl-shadow--4dp">
    <div class="tutorial-card center-cell mdl-cell mdl-cell--10-col mdl-card mdl-shadow--4dp">
      <h2>OpenWRT</h2>
      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
        {% for post in posts %}
        {% if post.tags contains 'OpenWRT' %}
        <li>
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          {{ post.description }} <br>
          <small>{{ post.date | date: "%-d-%B-%Y" }}</small>
        </li>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="tutorial-list mdl-grid">
    <div class="tutorial-card center-cell mdl-cell mdl-cell--10-col mdl-card mdl-shadow--4dp">
      <h2>Tutorials</h2>
      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
        {% for post in posts %}
        {% if post.tags contains 'Tutorials' %}
        <li>
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          {{ post.description }} <br>
          <small>{{ post.date | date: "%-d-%B-%Y" }}</small>
        </li>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>
