---
layout: community-header
title: Community | Cucumber Tony
permalink: /community/
---

<script>
function navactive() {
  var id1 = document.querySelector("#community");
  var id2 = document.querySelector("#community-mobi");
  id1.style.backgroundColor = "#EEEEEE";
  id2.style.backgroundColor = "#EEEEEE";

}
window.onload = navactive;
</script>

<div class="page-content">

  <div class="mat-banner">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
        <h1>Cucumber Community</h1>
        <p>Explore, learn and discuss all things Cucumber</p>
      </div>
    </div>
    <div class="mdl-grid" style="max-width:1200px;">
      <div class="mdl-typography--text-center mdl-cell mdl-cell--8-col-tablet">
        <a href="/case-studies/vospers">
          <img src="/images/community/thumbnails/vospers.jpg"/>
          <p>Vospers Case Study</p>
        </a>
      </div>
      <div class="mdl-typography--text-center mdl-cell mdl-cell--8-col-tablet">
        <a href="/community/showcase/policy-groups">
          <img src="/images/community/thumbnails/policy.jpg"/>
          <p>Policy Groups Spotlight</p>
        </a>
      </div>
      <div class="mdl-typography--text-center mdl-cell mdl-cell--8-col-tablet">
        <a href="/case-studies/benitos-hat">
          <img src="/images/community/thumbnails/openwrt.jpg"/>
          <p>Benito's Hat Case Study</p>
        </a>
      </div>
    </div>
  </div>

  <div class="mat-banner mdl-grid">
    <div class="center-cell mdl-cell mdl-cell--11-col">
      <h2 class="mdl-typography--text-center">Showcase</h2>
      <p class="mdl-typography--text-center community-subheader">We shine the spotlight on our customers and favourite features to show what Cucumber can do for you.</p>
      <div class="mdl-grid" style="font-style:italic;">
        <div class="center-cell mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--middle ">
          <p>“I can't think of one thing I liked in Meraki that I didn't get in Cucumber for a fraction of the price.”</p>
          <p><small>Jonathan Brickell - Senior IT Technician</small></p>
        </div>
        <div class="center-cell mdl-cell--middle mdl-cell mdl-cell--5-col mdl-cell--hide-tablet mdl-cell--hide-phone mdl-typography--text-center">
          <img src="/images/case-studies/vospers/vospers-logo.png">
        </div>
      </div>
      <div class="mdl-grid mdl-cell--hide-tablet mdl-cell--hide-phone" style="margin-top:40px;font-style:italic;">
        <div class="center-cell mdl-cell--middle mdl-cell mdl-cell--5-col mdl-typography--text-center">
          <img src="/images/case-studies/trident/trident-logo.png">
        </div>
        <div class="center-cell mdl-cell mdl-cell--6-col mdl-cell--7-col-tablet mdl-cell--7-col-phone mdl-cell--middle ">
          <p>“Our favourite thing is the simple interface. The Ruckus vSZ is complex, the Cucumber dashboard makes managing networks so much easier.”</p>
          <p><small>David Bell - Business Manager</small></p>
        </div>
      </div>
      <div class="center-cell mdl-cell mdl-cell--12-col mdl-typography--text-center">
        <a href="/community/showcase">
          <button class="signup-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Read More
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="mdl-grid mat-banner">
    <div class="center-cell mdl-cell mdl-cell--6-col mdl-typography--text-center">
      <h2>Out And About</h2>
      <div class="about-us-video">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/BcV_UMaiu20?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>A great Wi-Fi startup - with an even better name: Cucumber Tony - Wi-Fi NOW ep.34</p>
      </div>
      <div class="about-us-video">
        <div class='embed-container'>
          <iframe src="https://player.vimeo.com/video/157665263" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <p>WLPC Phoenix 2016 - Vendors, Open Your APIs</p>
      </div>
      <div class="about-us-video">
        <div class='embed-container'>
          <iframe src="https://player.vimeo.com/video/157666679?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>WLPC Phoenix 2016 - Managing OpenWRT From The Cloud</p>
      </div>
      <div class="about-us-video">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/2PN5t4zcLxI?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Managing OpenWrt From the Cloud. What this means for the Internet of Things?</p>
      </div>
    </div>
  </div>

  <div class="mat-banner mdl-grid">
    <div class="latest-tutorials center-cell mdl-cell mdl-cell--5-col mdl-typography--text-center">
      <h2>LEDE/OpenWrt Tutorials</h2>
      <p class="community-subheader">Want to learn how to play with OpenWrt?<br>We've got a collection of tutorials here to get you started.</p>
      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      {% for post in posts limit:5 %}
      {% if post.tags contains 'OpenWRT' %}
      <li>
        <hr style="border-color:rgb(224, 224, 224)">
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <p><small>{{ post.description }}</small></p>
        <p><small>{{ post.date | date: "%-d-%B-%Y" }}</small></p>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
    <div class="center-cell mdl-cell mdl-cell--12-col mdl-typography--text-center">
      <a href="/community/tutorials">
        <button class="signup-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Read More
        </button>
      </a>
    </div>
  </div>

</div>
