---
layout: community-header
title: Showcase | Cucumber Tony
permalink: /community/showcase/
redirect_from:
- /case-studies/
- /community/case-studies
---

<script>
function navactive() {
  var id1 = document.querySelector("#showcase");
  var id2 = document.querySelector("#showcase-mobi");
  id1.style.backgroundColor = "#EEEEEE";
  id2.style.backgroundColor = "#EEEEEE";

}
window.onload = navactive;
</script>

<div class="page-content">

  <div class="casestudies-main mdl-grid">
    <div class="center-cell mdl-cell mdl-cell--middle mdl-cell--10-col mdl-typography--text-center">
      <h1>Showcase</h1>
    </div>
  </div>

  <div class="casestudies-list mdl-grid">

    <div class="header-card center-cell mdl-cell--10-col mdl-card mdl-shadow--4dp mdl-typography--text-center">
      <h5>Take a look at what Cucumber has to offer and what our customers are saying about the platform.</h5>
      <div class="mdl-grid card-icons" style="margin:0px;">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-typography--text-center">
          <a href="#case">
            <i class="material-icons md-64">supervisor_account</i>
            <h5>Case Studies</h5>
          </a>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-typography--text-center">
          <a href="#features">
            <i class="material-icons md-64">view_carousel</i>
            <h5>Feature Spotlight</h5>
          </a>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-typography--text-center">
          <a href="#videos">
            <i class="material-icons md-64">theaters</i>
            <h5>Out & About</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="casestudies-card center-cell mdl-cell mdl-card mdl-cell--10-col mdl-card mdl-shadow--4dp">
      <a name="case"><h2>Case Studies</h2></a>
      {% for post in site.categories.casestudy %}
      <li>
        <h3><a href="{{ post.url }}"><img src="{{ post.thumbnail }}" width="auto" height="auto" style="max-height: 50px" align="center" /></a></h3>
        {{ post.description }} <br>
      </li>
      {% endfor %}
    </div>
  </div>

  <div class="features-showcase-list mdl-grid">
    <div class="features-showcase-card center-cell mdl-cell mdl-cell--10-col mdl-card mdl-shadow--4dp">
      <a name="features"><h2>Feature Spotlight</h2></a>
      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
        {% for post in posts %}
        {% if post.tags contains 'Features' %}
        <li>
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          {{ post.description }} <br>
        </li>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="casestudies-list mdl-grid">
    <div class="center-cell mdl-cell mdl-cell--10-col mdl-typography--text-center mdl-card mdl-shadow--4dp">
      <a name="videos"><h2>Out And About</h2></a>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/MLB9mk9s_JM?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Interview with Cucumber Tony at WiFi Now London 2016</p>
      </div>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/yoFeRlcND_k?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>The future of in-home WiFi - Who Will Win and Why? - Big Chief Highlights</p>
      </div>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/7amn0WgnkIU?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>School of Cucumber - How to Make the Most of Cucumber Features</p>
      </div>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://player.vimeo.com/video/157665263" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <p>WLPC Phoenix 2016 - Vendors, Open Your APIs</p>
      </div>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://player.vimeo.com/video/157666679?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>WLPC Phoenix 2016 - Managing OpenWRT From The Cloud</p>
      </div>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/2PN5t4zcLxI?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Managing OpenWrt From the Cloud. What this means for the Internet of Things?</p>
      </div>
      <div class="about-us-video mdl-cell--6-col center-cell">
        <div class='embed-container'>
          <iframe src="https://www.youtube.com/embed/BcV_UMaiu20?&rel=0&modestbranding=1&hd=1&autohide=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>A great Wi-Fi startup - with an even better name: Cucumber Tony - Wi-Fi NOW ep.34</p>
      </div>
    </div>
  </div>


</div>
