---
layout: default
---
<div data-sticky-container>
  <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0;">
    <div id="sticky-header" class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li class="ct-logo">
            <a href="/"><img src="/images/pages/cucumber_tony_logo.svg"></a>
          </li>
          <li>
            <a href="#">Discover</a>
            <ul class="menu">
              <li><a href="#">Feature 1</a></li>
              <li><a href="#">Feature 2</a></li>
              <li><a href="#">Feature 3</a></li>
            </ul>
          </li>
          <li><a href="/plans">Plans</a></li>
          <li>
            <a href="#">Developers</a>
            <ul class="menu">
              <li><a href="#">Feature 1</a></li>
              <li><a href="#">Feature 2</a></li>
              <li><a href="#">Feature 3</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Businesses</a>
            <ul class="menu">
              <li><a href="#">Feature 1</a></li>
              <li><a href="#">Feature 2</a></li>
              <li><a href="#">Feature 3</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Company</a>
            <ul class="menu">
              <li><a href="#">Feature 1</a></li>
              <li><a href="#">Feature 2</a></li>
              <li><a href="#">Feature 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main>

    {{ content }}
    {% include footer.html %}
</main>
