---
layout: default
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-shadow--4dp">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <div class="ct-logo">
        <a href="/"><img src="/images/pages/cucumber-wifi.svg"></a>
      </div>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">

        <a style="cursor:pointer;" id="features-list" class="mdl-navigation__link">Features</a>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="features-list">
          <a href="/features/management/"><li class="mdl-menu__item">Management</li></a>
          <a href="/features/networks/"><li class="mdl-menu__item">Networks</li></a>
          <a href="/features/branding/"><li class="mdl-menu__item">Branding</li></a>
          <a href="/features/reports/"><li class="mdl-menu__item">Reports</li></a>
          <a href="/features/integrations/"><li class="mdl-menu__item">Integrations</li></a>
          <a href="/features/guests/"><li class="mdl-menu__item">Guest Login</li></a>
        </ul>
        <a class="mdl-navigation__link" href="/discover/">Discover</a>
        <a class="mdl-navigation__link" href="/compatible-hardware/">Devices</a>
        <a class="mdl-navigation__link" href="/plans/">Plans</a>
        <a class="mdl-navigation__link" target="_blank" href="https://discuss.cucumberwifi.io/">Discuss</a>
        <a class="mdl-navigation__link" href="https://my.ctapp.io/#/create">Sign-up</a>
        <a class="mdl-navigation__link" href="https://my.ctapp.io/#/login">Login</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only mdl-shadow--4dp">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/discover/">Discover</a>
      <a class="mdl-navigation__link" href="/compatible-hardware/">Devices</a>
      <a class="mdl-navigation__link" href="/plans/">Plans</a>
      <a class="mdl-navigation__link" target="_blank" href="https://discuss.cucumberwifi.io/">Discuss</a>
      <a class="mdl-navigation__link" href="https://my.ctapp.io/#/create">Sign-up</a>
      <a class="mdl-navigation__link" href="https://my.ctapp.io/#/login">Login</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    {{ content }}
    {% include footer.html %}
  </main>
</div>
