---
layout: default
---
<div data-sticky-container>
  <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0;">
    <div id="sticky-header" class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
          <li class="ct-logo">
            <a href="/"><img src="/images/pages/cucumber_tony_logo.svg"></a>
          </li>
          <li>
            <a href="#">Discover</a>
            <ul class="menu">
              <li><a href="#">Feature 1</a></li>
              <li><a href="#">Feature 2</a></li>
              <li><a href="#">Feature 3</a></li>
            </ul>
          </li>
          <li><a href="/plans">Plans</a></li>
          <li>
            <a href="#">Developers</a>
            <ul class="menu">
              <li><a href="http://api-docs.cucumberwifi.io/" target="_blank">API Docs</a></li>
              <li><a href="https://github.com/cucumber-tony/SocketMan" target="_blank">SocketMan</a></li>
              <li><a href="https://github.com/cucumber-tony/cucumber-frontend" target="_blank">Dashboard</a></li>
              <li><a href="https://github.com/cucumber-tony/angularjs-splash-pages" target="_blank">Splash Page</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Businesses</a>
            <ul class="menu">
              <li><a href="/casestudies/">Case Studies</a></li>
              <li><a href="#">Manufacturers</a></li>
              <li><a href="#">Resellers</a></li>
              <li><a href="#">Offices</a></li>
              <li><a href="#">Stores</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Company</a>
            <ul class="menu">
              <li><a href="https://blog.cucumberwifi.io" target="_blank">Blog</a></li>
              <li><a href="/about/">About Us</a></li>
              <li><a href="/contact/">Contact Us</a></li>
              <li><a href="/architecture/">Architecture</a></li>
              <li><a href="/philosophy/">Philosophy</a></li>
              <li><a href="/branding/">Branding</a></li>
              <li><a href="/videos/">Out & About</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="https://my.ctapp.io/#/login">Log In</a></li>
          <li><a href="http://docs.cucumberwifi.io/" target="_blank">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main>

    {{ content }}
    {% include footer.html %}
</main>
